* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

/* Estilização para o título */
.main-title {
    text-align: center;
    color: green;
    margin-top: 30px;
}

/* Estilização para o formulário */
.container__form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 /* Estilização para os campos de texto e caixa de seleção */
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilização para o botão de submissão */
button[type="submit"] {
  background-color: green;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: darkgreen;
}