<!DOCTYPE html>
<html>
<head>
    <meta charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcrawler Jusbrasil</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <div class="container__main">
            <div class="page-header">
                <h1 class="main-title">{{ title }}</h1>
            </div>

            {% block content %} {% endblock %}
        </div>
    </body>
</html>
